body {
    --color-body: #e4b3ef;
    --color-form: #490059;
    --color-form-error: #fcbdc4;
    --color-form-success: #bdfcd0;
    --color-form-edit: #fcd40a;
    --color-form-delete: #fc360a;
    --color-report: #ea410e;

    background-color: var(--color-body);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    width: 100%;
    text-indent: 40px;
    text-transform: uppercase;
    color: var(--color-form);
}

.form {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

label, input, p, select {
    width: 100%;
}

label, p {
    color: var(--color-form);
    font-size: .8em;
}

select, input, .gender {
    outline: none;
    border-style: none none solid none;
    border-width: 1px;
    border-color: var(--color-form);
    background-color: transparent;
    margin-bottom: 0em;
    text-indent: 2em;
    font-size: 1.1em;
    color: var(--color-form);
    font-weight: bold;
    box-sizing: border-box;
    transition: border-width 100ms ease-out;
}
input {
    height: 3em;
}
input:focus {
    border-width: 3px;
}

.gender-input {
    height: auto;
    width: 10%;
    background-color: var(--color-form);
}
.gender {
    width: 30%;
    border: none;
    text-indent: 0;
    font-size: 1em;
}

button {
    background-color: var(--color-form);
    color: white;
    border: none;
    outline: none;
    font-size: 1.2em;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    width: 60%;
    height: 2em;
    margin-top: 1em;
}

.error {
    display: inline-block;
    width: 100%;
    color: red;
    font-size: 13px;
    padding: .5em;
    margin-bottom: .5em;
    background-color: var(--color-body);
}
.notice {
    display: inline-block;
    width: 60%;
    height: 3em;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(-100%);
}
@keyframes notice {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}
.notice-success {
    background-color: var(--color-form-success); 
    color: green;
    animation: notice 500ms ease;
    transform: translateY(0%);
}
.notice-error {
    background-color: var(--color-form-error);
    color: red;
    animation: notice 500ms ease;
    transform: translateY(0%);
}

@keyframes notice-remove {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}
.notice-remove {
    animation: notice-remove 500ms ease;
    transform: translateY(-100%);
}

.content {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.table {
    width: 50%;
}

h3 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    color: var(--color-form);
}

.table-content__row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: solid 1px var(--color-form);
}
.table-content__row:last-child{
    border-bottom: none;
}
.table-content__col {
    box-sizing: border-box;
    padding: .5em;    
    font-size: 13px;
    color: var(--color-form);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.table-content__col:nth-child(1) {
    width: 7%;
}
.table-content__col:nth-child(2) {
    width: 14%;
}
.table-content__col:nth-child(3) {
    width: 14%;
}
.table-content__col:nth-child(4) {
    width: 14%;
}
.table-content__col:nth-child(5) {
    width: 12%;
}
.table-content__col:nth-child(6) {
    width: 15%;
}
.table-content__col:nth-child(7) {
    width: 10%;
}
.table-content__col:nth-child(8) {
    width: 18%;
}

.table-content__header {
    background-color: var(--color-form);
}

.table-content__header .table-content__col {
    color: white;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: bold;
}

.table-content__data {
    width: 100%;
    background-color: white;
    overflow: hidden;
}

.table-content__col__action {
    width: 50%;
    background-color: var(--color-form-edit);
    padding: 5px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}
.table-content__col__action:last-child {
    margin-left: 5px;
    background-color: var(--color-form-delete);
}

.control-button {
    display: flex;
    justify-content: center;
    width: 100%;
}
.new {
    background-color: var(--color-form-success);
    color: green;
    display: none;
}
.new-show {
    display: inline;
}

.report {
    background-color: var(--color-report);
    width: 10em;
    font-size: 13px;
    font-weight: bold;
    font-weight: bold;
    display: none;
    margin: 0 auto;
}

.report-show {
    display: block;
}

.notice-report {
    position: absolute;
    left: 0;
}

.table-content {
    margin-top: .5em;
    position: relative;
    overflow: hidden;
}
