<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" type="text/css" href="client/home/home.css?date{{"now"|date("u")}}">
</head>
<body>
    <h2>Registro de Nuevos Usuarios</h2>

    <div class="content">
        <div class="table">
            <h3>Registro de Usuarios</h3>

            <button id="report" type="button" class="report">Generar Reporte</button>

            <div class="table-content">
                <div class="table-content__row table-content__header">
                    <div class="table-content__col">id</div>
                    <div class="table-content__col">nombre</div>
                    <div class="table-content__col">apellido materno</div>
                    <div class="table-content__col">apellido paterno</div>
                    <div class="table-content__col">genero</div>
                    <div class="table-content__col">celular</div>
                    <div class="table-content__col">rango</div>
                    <div class="table-content__col">acciones</div>
                </div>
                <div class="table-content__data" id="table-content__data">
                </div>

                <span class="notice notice-report" id="notice_report"></span>
            </div>
        </div>

        <div class="form">
            <h3>Formulario de Usuario</h3>
            
            <form action="#" method="post" id="form">
                <label for="name">Nombre</label>
                <input id="name" type="text" name="name">
                <span class="error" id="error_name"></span>
                
                <label for="surname">Apellido Paterno</label>
                <input id="surname" type="text" name="surname">
                <span class="error" id="error_surname"></span>
               
                <label for="surname_second">Apellido Materno</label>
                <input id="surname_second" type="text" name="surname_second">
                <span class="error" id="error_surname_second"></span>
               
                <p>Selecciona el Género</p>
                <input id="gender-male" class="gender-input" type="radio" value="male" name="gender">
                <label for="gender-male" class="gender">Hombre</label>
                <input id="gender-female" class="gender-input" type="radio" value="female" name="gender">
                <label for="gender-female" class="gender">Mujer</label>
                <span class="error" id="error_gender"></span>
              
                <label for="cel">Celulares</label>
                <input id="cel" type="text" name="cel">
                <span class="error" id="error_cel"></span>
                
                <label for="rank">Rango</label>
                <select id="rank" name="rank">
                    <option value="1">Novato</option>
                    <option value="2">Junior</option>
                    <option value="3">Senior</option>
                </select>
                <span class="error" id="error_rank"></span>

                <div class="control-button">
                    <button id="new" type="button" class="new">nuevo</button>
                    <button id="send" name="id" value="none" type="button">Enviar</button>
                </div>
                <span class="notice" id="notice"></span>
            </form>
        </div>
    </div>

    <script src="client/home/home.js"></script>
</body>
</html>
