body {
    background-color: #e4b3ef;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    --color-form: #490059;
    --color-form-2: #096875;
}

h2 {
    width: 100%;
    text-indent: 40px;
    text-transform: uppercase;
    color: var(--color-form);
}

form {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label, input, p, select {
    width: 100%;
}

label, p {
    color: var(--color-form);
    font-size: .8em;
}

select, input, .gender {
    outline: none;
    border-style: none none solid none;
    border-width: 1px;
    border-color: var(--color-form);
    background-color: transparent;
    margin-bottom: 1em;
    text-indent: 2em;
    font-size: 1.1em;
    color: var(--color-form);
    font-weight: bold;
    box-sizing: border-box;
    transition: border-width 100ms ease-out;
}
input {
    height: 3em;
}
input:focus {
    border-width: 3px;
}

.gender-input {
    height: auto;
    width: 10%;
    background-color: var(--color-form);
}
.gender {
    width: 30%;
    border: none;
    text-indent: 0;
    font-size: 1em;
}

button {
    background-color: var(--color-form);
    color: white;
    border: none;
    outline: none;
    font-size: 1.2em;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
    width: 60%;
    height: 2em;
}
